.messages-list {
    padding: 20px 40px;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    overflow: auto;

    .message {
        display: flex;
        margin-top: 40px;

        & > .avatar {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 10px -10px;
        }

        .message-content {
            display: inline-block;

            & > .username {
                display: block;
                color: $color-gray-100;
                font-size: $font-size-sm;
                padding-bottom: 4px;
            }

            & > .text {
                padding: 10px;
                max-width: 500px;
                margin: 0;
                border-radius: 30px;
                background-color: $color-red-300;
                font-size: $font-size-lg;
                color: $color-gray-100;
                display: inline-block;
            }
        }
    }

    .current-member {
        flex-direction: row-reverse;
        text-align: right;

        & > .message-content {
            align-items: flex-end;

            & > .text {
                background-color: $color-red-200;
            }
        }
    }

    @media (max-width: 991px) {
        padding: 10px 5px;

        .message {
            margin-top: 10px
        }
    }
}
