$color-white-100: #fff;

$color-gray-100: #eaeaea;
$color-gray-200: #b0b2b6;
$color-gray-300: #808080;
$color-gray-400: #28292c;

$color-black-100: #000;
$color-black-200: #252A34;

$color-blue-100: #0D7377;
$color-blue-200: #08D9D6;

$color-red-100: #B83B5E;
$color-red-200: #FF2E63;
$color-red-300: #F38181;
